.buttonPrimary {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  height: 4rem;
  border-radius: 22rem;
  background-color: var(--green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.3rem;
  transition: 0.1s ease-in-out;

}
.buttonPrimary:disabled {
  background-color: var(--gray);
}

.buttonPrimary:hover:enabled{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in-out;
}

.buttonTextPrimary {
  color: var(--white);
  font-weight: 300;
}
